{% extends "base.html" %}

{% block body %}

<br>

<canvas id="mycanvas" height="400" width="1000" class="mb-5"></canvas>

<!-- {% for view in search_result_view %}
  <p>{{ view }}</p>
{% endfor %} -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<script type="text/javascript">
  var view = {}
  i=1
  {% for view in search_result_view %}
    view[i] = {{ view }};
    i += 1
  {% endfor %}

  var ctx = document.getElementById("mycanvas");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{search_result_date}},
          datasets: [{
                          label: '{{ search1 }}',
                          data: view[1],
                          borderColor: "rgba(100,220,220,1)",
                          pointHoverRadius: 5,
                          pointHitRadius: 15,
                      },
                      {% if search2 %}
                      {
                          label: '{{ search2 }}',
                          data: view[2],
                          borderColor: "rgba(220,100,220,1)",
                          pointHoverRadius: 5,
                          pointHitRadius: 15,
                      },
                      {% endif %}
                      {% if search3 %}
                      {
                          label: '{{ search3 }}',
                          data: view[3],
                          borderColor: "rgba(220,220,100,1)",
                          pointHoverRadius: 5,
                          pointHitRadius: 15,
                      },
                      {% endif %}
          ],


      },
  });
</script>

{% endblock %}
